# KDE 3.4 KSplash/ML Theme

[KSplash Theme: TuxSplash]
Name = Tux Splash
Description = A KDE Splash Screen with Krystal Tux
Version = 1.2
Author = Mateusz Hajder <mateusz93@club-internet.fr>

# Theme behaviour settings.
Engine = Default

# Should icons blink ala KDE, or not?
Icons Flashing = true
