Source: audioconversor
Section: sound
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: audioconversor
Architecture: all
Depends: python-qt4,, mplayer, vorbis-tools, lame
Description: AudioConversor 5 it's a conversor to formats mp3/ogg/wav
  AudioConversor it's developed with Python QT4 .
  Converts your sound to mp3/ogg/wav . 
  With timidity, you can convert MID/MIDI files to mp3/ogg/wav .
  Allows you to extract audio from your favourite videos .
  Also you have control of conversor process . 
  Allows you to drag&drop . 
  You can convert all files inside a folder recursivelly . 
  KISS Philosophy . 
  Format check - if's already converted (file or target) no convert it .
