Source: kademar-core-kde3
Section: admin
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.kademar.org

Provides: kademar-desktop-config, kademar-core-kde3
Package: kademar-core-kde3
Architecture: all
Suggests: kademar-base
Description: kademar Core KDE 3
 Config files for kademar Core KDE 3 desktop
