Source: kademar-kde3
Section: kde
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: kademar-kde3
Architecture: all
Suggests: kademar-base, kademar-astro|kademar-lyra, ksplash-engine-moodin-kde3
Description: Paquet de kademar relacionat amb KDE
 El paquet conté configuracions pròpies de KDE