Source: kademar-khronos
Section: admin
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: kademar-khronos
Architecture: all
Suggests: kademar-base
Description: kademar Khronos
 Config files for kademar Khronos .
