[Desktop Entry]


[GdmGreeterTheme]
Encoding=UTF-8
Greeter=industrial.xml
Name=kademar Theme Old
Description=Default kademar GNU/GPL Theme
Author=Adonay Sanz
Copyright=kademar Team
Screenshot=screenshot.png

#Based on Novel SuSE Theme
# Name=Code10 Industrial
# Description=Default Code 10 Theme
# Author=Jakub Steiner
# Copyright=(c) 2006 Novell, Inc.