Source: desktop-kademar-restricted
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-restricted
Architecture: all
Depends: kademar-restricted, atmel-firmware, bluez-firmware, b43-fwcutter, firmware-qlogic, firmware-ralink, libertas-firmware, midisport-firmware, zd1211-firmware, flashplugin-nonfree|flashplugin-nonfree-amd64|flashplayer-mozilla|flashplugin-nonfree, ttf-msttcorefonts-installer|msttcorefonts, firmware-iwlwifi, wmaloader, rar, unrar, lha, libdvdcss2, firmware-linux, firmware-linux-nonfree, firmware-b43-installer, firmware-b43legacy-installer, prism2-usb-firmware-installer, 
#prism54-nonfree,
Suggests: alsa-firmware-loaders
Description: Metapackage to install Restricted components.
 This is for kademar Linux desktop
 .
 Only contains dependences to install restricted packages easily
