Source: desktop-kademar-kde4
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-kde4
Architecture: all
Depends: desktop-kademar-base-x, kademar-kde|kademar-kde4, kde-minimal, kdm, kde-l10n-ca, kde-l10n-es, okular, ark, kppp, kcalc, ksnapshot, k3b, k3b-i18n, vcdimager, movixmaker-2, normalize-audio, kpat, kmines, kmix, kcharselect, kpackage, kolourpaint4, wicd|network-manager-kde, kaffeine, kwalletmanager
Recommends: vcdtools, kdeprint, kpowersave
Description: Metapackage to install KDE Desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install KDE 4 desktop easily
