Source: desktop-kademar-heliox
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-heliox
Architecture: all
Depends: desktop-kademar-kde3-full, desktop-kademar-lxde-full, desktop-kademar-accessibility, desktop-kademar-dk-full-apps, kademar-heliox, openoffice.org-gnome, compiz-gtk, compiz-fusion-plugins-main, compiz-fusion-plugins-extra, compiz-fusion-plugins-unsupported, fusion-icon, compizconfig-settings-manager, xchat,
Description: Metapackage to install CSIC - Accessibility desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install CSIC - Accessibility desktop easily
