Source: desktop-kademar-heliox
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-heliox
Architecture: all
Depends: desktop-kademar-kde3-full, desktop-kademar-lxde-full, desktop-kademar-accessibility, kademar-heliox, kademar-audacious-skins, openoffice.org, openoffice.org-gnome, gimp, aircrack-ng, kde-icons-oxygen, openoffice.org-l10n-es, openoffice.org-l10n-ca, audacity, gtk2-engines-geramik|gnome-themes, oxygen-icon-theme|kde-icons-oxygen, gnome-icon-theme, compiz-gtk, compiz-fusion-plugins-main, compiz-fusion-plugins-extra, compiz-fusion-plugins-unsupported, fusion-icon, compizconfig-settings-manager, devede, kaffeine, me-tv, gtk-recordmydesktop, gtkpod, xchat, transmission, blueman|kdebluetooth,
Description: Metapackage to install CSIC - Accessibility desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install CSIC - Accessibility desktop easily
