Source: kademar-kde4-core
Section: admin
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.kademar.org

Provides: kademar-desktop-config, kademar-core
Package: kademar-kde4-core
Architecture: all
Suggests: kademar-base
Description: kademar Core
 Config files for kademar Core
