Source: kademar-kde4-full
Section: unknown
Priority: extra
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/kademar-kde4-full.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/kademar-kde4-full.git;a=summary

Package: kademar-kde4-full
Architecture: all
Depends: 
Description: KDE 4 - Full package
