[KSplash Theme: kademar-moodin]
Name=kademar-moodin
Description=New kademar Splash Theme.
Version=4.9
Author=Equip kademar
Homepage=http://www.kademar.org
Engine=Moodin
BeginOpacity=0.1
BaseResolution=1024, 768
UseIconSet=true
LineUpImages=true
IconSetSize=48
Image1=/usr/share/apps/ksplash/Themes/kademar-moodin/1.png
Image2=/usr/share/apps/ksplash/Themes/kademar-moodin/2.png
Image3=/usr/share/apps/ksplash/Themes/kademar-moodin/3.png
Image4=/usr/share/apps/ksplash/Themes/kademar-moodin/4.png
Image5=/usr/share/apps/ksplash/Themes/kademar-moodin/5.png
Image6=/usr/share/apps/ksplash/Themes/kademar-moodin/6.png
Image7=/usr/share/apps/ksplash/Themes/kademar-moodin/7.png
Image8=/usr/share/apps/ksplash/Themes/kademar-moodin/8.png
ImageCoords1=131, 343
ImageCoords2=231, 343
ImageCoords3=331, 343
ImageCoords4=431, 343
ImageCoords5=504, 316
ImageCoords6=631, 343
ImageCoords7=731, 343
ImageCoords8=831, 343
LabelCoords1=
LabelCoords2=
LabelCoords3=
StatusCoords=372, 485
StatusFont=Loma,18,-1,5,50,0
ImageOffset1=0,20
Background=Background.png