Source: desktop-kademar-junior
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-junior
Architecture: all
Depends: desktop-kademar-kde, celestia, childsplay-lfc-names-ca, childsplay, childsplay-alphabet-sounds-ca, childsplay-plugins, childsplay-plugins-lfc, childsplay-alphabet-sounds-es, enigma, gnuchess, gnucap, khangman, kgeography, gcompris, gcompris-sound-es, tuxpaint, tuxtype, kmines, kpat, ksynaptics, amsn, kpackage
Description: Metapackage to install Junior Desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install Desktop Junior easily
