[Desktop Entry]
Categories=Qt;Utility;
Exec=python '/usr/share/kademar/utils/kademarcenter/kademarstart.py'
GenericName=Start Control
Icon=/usr/share/kademar/utils/kademarcenter/img/logo-heliox.png
MimeType=
Name=Heliox Startcontrol
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application