Source: kademar-kde
Section: kde
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: kademar-kde
Architecture: all
Suggests: kademar-base, kademar-astro|kademar-lyra, ksplash-engine-moodin
Description: Paquet de kademar relacionat amb KDE
 El paquet conté configuracions pròpies de KDE