[Desktop Entry]
Categories=Qt;Utility;
Exec=python '/usr/share/kademar/utils/kademarcenter/kademarstart.py'
GenericName=Start Center
Icon=/usr/share/kademar/utils/kademarcenter/img/kademar.png
MimeType=
Name=kademar Startcenter
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application