[Desktop Entry]
Comment=
Exec=executa cadi
GenericName=
Icon=/usr/share/kademar/utils/cadi/img/cadi.png
Name=CADI - Configure System
Name[ca]=CADI - Configurar Sistema
Name[es]=CADI - Configurar Sistema
Name[en]=CADI - Configure System
Path=
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=System;

