Source: kademar-lyra
Section: admin
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: kademar-lyra
Provides: kademar-desktop-config
Architecture: all
Suggests: kademar-base
Description: kademar Lyra
 Fitxers de configuració de kademar Lyra .
