Source: desktop-kademar-kde
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-kde
Architecture: all
Depends: desktop-kademar-base-x, kademar-kde, ksmserver, kdesktop, kdm, kde-i18n-ca, kde-i18n-es, konqueror, kpdf, ark, kppp, kdeprint, ksplash,  kcalc, ksnapshot, kooka, konsole, kate, k3b, k3b-i18n, vcdimager, vcdtools, movixmaker-2, normalize-audio,  kpowersave, kpat, kmines, klipper, kmenuedit, kmix, kcharselect, ksysguard, kappfinder, kicker-applets, konq-plugins, kdmtheme, kpackage,  kolourpaint, kmilo, network-manager-kde|wicd, kaffeine, kwin-style-knifty, ksplash-engine-moodin, kwalletmanager, kde-icons-oxygen, kompare, kgamma, keybled
Description: Metapackage to install KDE Desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install KDE desktop easily
