Source: desktop-kademar-core
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-core
Architecture: all
Depends: kademar-core, desktop-kademar-kde, gnome-themes
Description: Metapackage to install Core Desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install Core Desktop easily
