# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=KDEmod-kdm-userlist.xml
Name=kademar Theme
Description=Based on PCLinuxOS Theme for KDM
Author=Original Theme, author Kori
Screenshot=Screenshot.png
