Source: desktop-kademar-khronos
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-khronos
Architecture: all
Depends: desktop-kademar-lxde-full, 
Description: Metapackage to install Khronos lxde Desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install Khronos lxde desktop easily
