[Desktop Entry]
Name=Gota de Gebrada
Name[ca]=Gota de Gebrada
Name[ca@valencia]=Gota de Gebrada
Name[de]=Gota de Gebrada
Name[es]=Gota de Gebrada

X-KDE-PluginInfo-Name=Air
X-KDE-PluginInfo-Author=Joan Torras Matas
X-KDE-PluginInfo-Email=joan@pastuira.com
X-KDE-PluginInfo-License=CC
