#By Adonay Sanz Alsina  <adonay@kademar.org>  -  kademar.org juny 2006

[Desktop Entry]
ServiceTypes=application/exe,application/x-executable,application/x-python,application/x-perl,application/x-shellscript,application/x-executable-script,application/
Encoding=UTF-8
Actions=runaskademarroot

[Desktop Action runaskademarroot]
Name=Executa com a administrador (root)
Name[ca]=Executa com a administrador (root)
Name[es]=Ejecutar como administrador (root)
Name[en]=Run as administrator (root)
#Icon=terminal
Exec=executa %U

Icon=terminal