# Servicemenu: Extracter Audio WAV give Video VOB-WMV-AVI (wav-extract)         ##  
# Author: Walter "Goldy" Bus - (Bologna - Italy)             			##
# Contact: goldy@slacky.it							## 
# License: GPL 2.0                                                              ##
# Date: 10.Semptember.2005                                                      ##
# Version: 0.1 - Initial release                                                ##   
# Requirement Mplayer			                                        ## 
##################################################################################

#Litle hacks by Adonay Sanz - adonay@kademar.org

[Desktop Entry]
ServiceTypes=application/x-matroska,video/ogg,video/mpeg,video/msvideo,video/x-avi,video/x-ms-wmv,video/x-msvideo,video/x-flic,video/x-flv,video/flv,application/,video/video/*,video
Actions=wav-extract
Encoding=UTF8

[Desktop Action wav-extract]
Name=Extract Audio WAV from this Video
Name[ca]=Extraure Audio WAV d'aquest Video
Name[es]=Extraer Audio WAV de este Video
Name[it]=Estrai audio WAV da questo Video
Exec=/bin/bash -c 'kdialog --msgbox "\nPROCESSING. PLEASE WAIT..." 5 --title "<<< EXTRACTION AUDIO >>>" ; cd %D ; kdialog --passivepopup "\n`konsole -e mplayer -vo null -ao pcm %U `\n\nTERMINATE EXTRACTION AUDIO" 10 --title "<<<  THE NAME OF THE FILE EXTRACTED IS "audiodump.wav" >>>"'
Exec[it]=/bin/bash -c 'kdialog --msgbox "\nINIZIO ESTRAZIONE AUDIO IN CORSO. ATTENDERE PREGO..." 5 --title "<<< ESTRAZIONE AUDIO IN CORSO >>>" ; cd %D ; kdialog --passivepopup "\n`konsole -e mplayer -vo null -ao pcm %U `\n\nFINE ESTRAZIONE AUDIO" 10 --title "<<<  IL FILE È STATO RINOMINATO "audiodump.wav" >>>"'

# Exec[ca]=/bin/bash -c 'kdialog --yesno "\nExtraient Àudio. Si us plau, sigui pacient..." 5 --title " Extracció d'àudio en curs " && cd "%D" && kdialog --msgbox "\n`konsole -e mplayer -vo null -ao pcm "%U" `\n\nHa finalitzat l'extracció \n  El nom de l'arxiu extret és  < audiodump.wav >  i es troba en la mateixa carpeta que el video." 10 --title "Extracció Finalitzada"'

Exec[es]=/bin/bash -c 'kdialog --yesno "\nQuieres extraer el audio del archivo:\n%N ? \nEl archivo original se mantendrá intacto." 5 --title " Extracción de Audio  " && cd "%D" && kdialog --msgbox "\n`konsole -e mplayer -vo null -ao pcm "%U" `\n\nHa finalitzado la extracción \n El nombre del archivo extraido es  < audiodump.wav >  y se encuentra en la misma carpeta que el video." 10 --title "Extracción Finalizada"'
Exec[ca]=/bin/bash -c 'kdialog --yesno "\nVols extraure Audio del fitxer:\n%N ? \nEl fitxer original es mantindrà intacte." 5 --title " Extracció de Àudio  " && cd "%D" && kdialog --msgbox "\n`konsole -e mplayer -vo null -ao pcm "%U" `\n\nHa finalitzado la extracción \n El nom del fitxer extret és  < audiodump.wav >  i es troba en la mateixa carpeta que el video." 10 --title "Extracció Finalitzada"'

# Exec[ca]=/bin/bash -c 'kdialog --yesno "\nQuieres extraer el audio del archivo:\n%N ? \nEl archivo original se mantendrá intacto." 5 --title " Extracción de Audio  " && cd "%D" && kdialog --msgbox "\n`konsole -e mplayer -vo null -ao pcm "%U" `\n\nHa finalitzado la extracción \n El nombre del archivo extraido es  < audiodump.wav >  y se encuentra en la misma carpeta que el video." 10 --title "Extracción Finalizada"'

Icon=sound
