[KSplash Theme: shanghai]
Name = Shanghai - China - sight
Description = Skyline.
Version = 666
Author = Taiabati <taiabati@taiabati.com>
Homepage = http://www.taiabati.com

# Theme behavior settings.
Engine = Default

# Should icons blink ala KDE, or not?
Icons Flashing = true
