Source: desktop-kademar-lxde-core
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-lxde-core
Architecture: all
Depends: desktop-kademar-base-x, lxde, ytree, file-roller, gksu, leafpad, claws-mail,  xcalc|x11-apps,  gtk-chtheme|gtk-theme-switch,  gnome-icon-theme, gnome-themes, midori,   xsane, xpdf, gnomebaker|brasero, pidgin,  wicd|network-manager-gnome, vlc|umplayer|smplayer, mtpaint, mrxvt, ace-of-penguins, gtk-chtheme|gtk-theme-switch,
#audioconversor, mplayer
Description: Metapackage to install LXDE Desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install LXDE Desktop easily
