Source: desktop-kademar-kde3
Section: unknown
Priority: extra
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://kademar.org

Package: desktop-kademar-kde3
Architecture: any
Depends: desktop-kdemar-base-x, kdemar-kde, ksmserver-kde3, kdesktop-kde3, kdm-kde3, kde-i18n-ca-kde3, kde-i18n-es-kde3, konqueror-kde3, kpdf-kde3, ark-kde3, kppp-kde3, kdeprint-kde3, ksplash-kde3,  kcalc-kde3, ksnapshot-kde3, kooka-kde3, konsole-kde3, kate-kde3, k3b-kde3, k3b-i18n-kde3, vcdimager, vcdtools, movixmaker-2, normalize-audio,  kpowersave-kde3, kpat-kde3, kmines-kde3, klipper-kde3, kmenuedit-kde3, kmix-kde3, kcharselect-kde3, ksysguard-kde3, kappfinder-kde3, kicker-applets-kde3, konq-plugins-kde3, kdmtheme-kde3, kpackage-kde3, kolourpaint-kde3, kmilo-kde3, network-manager-kde|wicd, kaffeine-kde3, kwin-style-knifty, ksplash-engine-moodin-kde3, kwalletmanager-kde3, kde-icons-oxygen, kompare-kde3, kgamma-kde3, keybled-kde3
Description: Metapackage to install KDE 3 Desktop
 This is for kademar Linux desktop
 .
 Only contains dependences to install KDE 3 desktop easily
