Source: kademar-heliox
Section: unknown
Priority: extra
Maintainer: Adonay <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: kademar-heliox
Architecture: all
Depends: kademar-base, kademar-accessibility, imagemagick, 
Provides: kademar-desktop-config,
Description: kademar Heliox package
 kademar Heliox package
