# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=macos.xml
Name=Mac OSX Imitation - Linux Version
Description=Imitation of the Mac OSX Login Screen - Linux Version
Screenshot=screenshot.png
