[Desktop Entry]
Comment=
Comment[ca]=
Encoding=UTF-8
Exec=python '/usr/share/kademar/utils/kademarcenter/kademarcenter.py'
GenericName=
GenericName[ca]=
Icon=/usr/share/kademar/utils/kademarcenter/img/kademar.png
MimeType=
Name=
Name[ca]=
Path=/usr/share/kademar/utils/kademarcenter/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
