Source: desktop-kademar-modules-dkms
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-modules-dkms
Architecture: all
Depends: dkms, batman-adv-dkms, batmand-gateway-dkms, blcr-dkms, ipheth-dkms, ndiswrapper-dkms, openafs-modules-dkms, tp-smapi-dkms, open-vm-dkms, fglrx-modules-dkms 
Recommends: sl-modem-source
Suggests: virtualbox-ose-guest-dkms, virtualbox-ose-dkms|virtualbox-2.0|virtualbox-3.0|virtualbox-3.2|virtualbox-4.0
Description: Metapackage to install kernel DKMS Modules
 This is for kademar Linux desktop
 .
 Only contains dependences to install kernel DKMS Modules
