[Desktop Entry]
Comment=
Exec=python '/usr/share/kademar/utils/audioconversor/audioconversor.py'
GenericName=
Icon=/usr/share/kademar/utils/audioconversor/img/small_logo.png
Name[ca]=AudioConversor - Conversor d'Àudio
Name[es]=AudioConversor - Conversor de Audio
Name[en]=AudioConversor - Audio Conversor
Path=/usr/share/kademar/utils/audioconversor/
StartupNotify=true
Terminal=0
X-KDE-SubstituteUID=false
X-KDE-Username=
Type=Application
Categories=Application;AudioVideo;Audio;AudioVideoEditing;
