Source: desktop-kademar-utils
Section: unknown
Priority: extra
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.kademar.org
#Vcs-Git: git://git.debian.org/collab-maint/desktop-kademar-utils.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/desktop-kademar-utils.git;a=summary

Package: desktop-kademar-utils
Architecture: all
Depends: desktop-kademar-base-x, desktop-kademar-soundserver, kademar-main-utils, cadi, kademarcenter, wicd|network-manager, ibritish, icatalan, ispanish, ifrench, wbritish-huge, wcatalan, wspanish, wfrench, myspell-ca, myspell-es, myspell-en-gb, myspell-fr, 
Recommends: desktop-kademar-printing-system, audioconversor, css-miami
Description: Metapackage to install kademar utils easily
 kademar Graphical utilities
