Source: desktop-kademar-leo
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-leo
Architecture: all
Depends: desktop-kademar-dk-full, kademar-leo
Suggests: desktop-kademar-extra-multimedia, openoffice.org-kab
Description: Metapackage to install Leo desktop - DVD Version (64 bit)
 This is for kademar Linux desktop
 .
 Only contains dependences to install Leo desktop easily
