Source: squashfs-tools-xz
Section: unknown
Priority: extra
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://wwww.kademar.org
#Vcs-Git: git://git.debian.org/collab-maint/squashfs-tools-xz.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/squashfs-tools-xz.git;a=summary

Package: squashfs-tools-xz
Architecture: i386
Description: SquashFS Tools compiled with XZ utils