Source: kademar-base-desktop
Section: admin
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: kademar-base-desktop
Architecture: all
Provides: instalador
Depends: kademar-base, kademar-desktop-config, cadi, kademarcenter, python-qt4, modconf, xterm, libfuse2, fuse-utils, os-prober, xloadimage, reiserfsprogs, console-setup, mesa-utils, e2fsprogs, gparted, initramfs-tools|yaird
Suggests: initng, libreiserfs0.3-0, audioconversor
Description: Base Package for all kademar Linux Desktops
 This package contains: .
 The installer .
 The Nano USB Installer . 
 And also have dependences to install the MAIN two apps of kademar: CADI & kademarcenter & AudioConversor
 Also contains scripts & utilities created for kademar .