Source: desktop-kademar-base-x
Section: metapackages
Priority: optional
Maintainer: Adonay Jonay Sanz Alsina <adonay@kademar.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.7.3
Homepage: http://www.kademar.org

Package: desktop-kademar-base-x
Architecture: all
Depends: desktop-kademar-base, kademar-desktop-config, xorg, xserver-xorg, xserver-xorg-video-all, xserver-xorg-input-all, xfonts-100dpi, xfonts-75dpi, xfonts-scalable, libgl1-mesa-dri|xlibmesa-dri, libgl1-mesa-glx|xlibmesa-gl, libglu1-mesa|xlibmesa-glu, gsfonts-x11, x-ttcidfont-conf, ttf-freefont, gsfonts, xfonts-100dpi, xfonts-75dpi, xfonts-base, ttf-freefont, gsfonts-x11, xfonts-75dpi-transcoded, xfonts-100dpi-transcoded, xdg-utils, dbus-x11, xkb-data, ladspa-sdk, swh-plugins, procmeter3, x11-utils, language-env
Description: Metapackage to install base for all desktops (X.org)
 This is for kademar Linux desktop
 .
 Contains dependences to install base for all desktops (X.org) easily
 
#And dependences to install utilities developed for kademar like CADI, Instalador, etc.

