
body {
  margin:4px;
}

/* Buddy icons at right of the window */

.koneBuddyIconME, .koneBuddyIconYOU {
  position:fixed;
  right:4px;
  z-index:1;
  padding:4px 4px 0px 4px;
  text-align: center;
  width: 96px;
  cursor: default;
}
.koneBuddyIconME img, .koneBuddyIconYOU img {
  width: 100%;
}
.koneBuddyIconME {
  bottom:4px;
  background-color:#f4fcea;
  border:solid 1px #84de10;
  color:#68ae0d;
}
.koneBuddyIconYOU {
  top:4px;
  background-color:#fcf2ea;
  border:solid 1px #de6510;
  color:#ae4f0d;
}
.koneBuddyIconName {
  height:1.4em;
  text-align:center; /* ****************** */
  font-size:.8em;
  overflow:hidden;
  width: 96px;
  margin:0px;
}

/* Chat div */

#Chat {
  margin-right: 110px;
}

/* Contact name */

.koneMsgContactInc img, .koneMsgContactOut img {
  padding: 2px 0 0 2px;
}
.koneMsgContactInc {
  cursor: default;
  color:#ae4f0d;
}
.koneMsgContactOut {
  cursor: default;
  color:#68ae0d;
}

/* Time stamp */

.koneMsgTimeIncltr, .koneMsgTimeOutltr, .koneMsgTimeIntltr, .koneMsgTimeAltr,
.koneMsgTimeIncrtl, .koneMsgTimeOutrtl, .koneMsgTimeIntrtl, .koneMsgTimeArtl
 {
  cursor: default;
  font-size:.8em;
  float:right;
padding: 0 3px;
}
.koneMsgTimeIncrtl, .koneMsgTimeOutrtl, .koneMsgTimeIntrtl, .koneMsgTimeArtl {
  float:left;
}
.koneMsgTimeIntltr, .koneMsgTimeAltr,
.koneMsgTimeIntrtl, .koneMsgTimeArtl {
  font-size:1em;
}
.koneMsgTimeIncltr,
.koneMsgTimeIncrtl {
  color:#ae4f0d;
}
.koneMsgTimeOutltr,
.koneMsgTimeOutrtl {
  color:#68ae0d;
}

/* Message body */

.koneMsgBodyA {
  /*border:#1065de dotted 1px;*/
  background-color:#ecf3fc;
  color:#0d52b5;
  margin: 8px;
  padding: 4px;
  font-size: .8em;
  overflow: auto;
}
.koneMsgBodyInt {
  /*border: #aa00aa dotted 1px;*/
  color: #aa00aa;
  margin: 8px;
  padding: 4px;
  font-size: .8em;
  overflow: auto;
}
.koneMsgBodyOut {
  /*border-top:#84de10 dashed 1px;*/
  background-color:#f4fcea;
  margin-top: 6px;
  /*padding-bottom: 4px;*/
  overflow: auto;
}
.koneMsgBodyInc {
  /*border-top:#de6510 dashed 1px;*/
  background-color:#fcf2ea;
  margin-top: 6px;
  /*padding-bottom: 4px;*/
  overflow: auto;
}




div.koneMsgContactOut img, div.koneMsgContactInc img {
  vertical-align: middle;
}

div.koneMsgContactOut, div.koneMsgContactInc, div.koneMsgBodyInt, .koneMsgBodyA {
  background-image: url('images/message-head.png');
  background-position: 0 50%;
margin-bottom: 1px;
}

div.koneMsgContactOut div, div.koneMsgContactInc div, div.koneMsgBodyInt div.arround, .koneMsgBodyA div.arround {
  background-image: url('images/messages-head-right.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

div.koneMsgContactOut {
  border:/*-top*/ solid #84de10 1px;
  color: black;

  background-color: #84de10;
  /*text-shadow: white 0 0 6px, white 0 0 5px, white 0 0 4px, white 0 0 3px, white 0 0 2px, white 0 0 1px;*/
}
div.koneMsgContactInc {
  border:/*-top*/ solid #1E5996 1px;
  color: white;

  background-color: #1E5996;
  /*text-shadow: white 0 0 6px, white 0 0 5px, white 0 0 4px, white 0 0 3px, white 0 0 2px, white 0 0 1px;*/
}
.KopeteMessageBody {
/*  background: blue;*/
}

div.koneMsgBodyInt {
  font-weight: bold;
  font-variant: italic;
  text-align: center;
  color: black;
  border:/*-top*/ solid #C8C8C8 1px;
  background-color: #969696;
  /*text-shadow: white 0 0 6px, white 0 0 5px, white 0 0 4px, white 0 0 3px, white 0 0 2px, white 0 0 1px;*/
}

div.koneMsgBodyInt div.arround, .koneMsgBodyA div.arround {
  background-position: 0 50%;
}


.koneBuddyIconME, .koneBuddyIconYOU {
  text-align: center !important;
  left: 4px;
  padding: 5px 5px 0px 5px;
  font-weight: bold;
  /*text-shadow: white 0 0 6px, white 0 0 5px, white 0 0 4px, white 0 0 3px, white 0 0 2px, white 0 0 1px;*/
  text-shadow: white 0 0 4px, white 0 0 3px, white 0 0 2px, white 0 0 1px;
}
.koneBuddyIconME img, .koneBuddyIconYOU img {
  position: relative;
  margin-bottom: 5px;
  margin-top: -23px;
  background-color: white;
}

.koneBuddyIconME .overlay, .koneBuddyIconYOU .overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 96px;
  height: 23px;
  background-image: url('images/image-overlay.png');
  z-index: 500;
}

.koneBuddyIconME {
  border: none !important;
  background: transparent url('images/avatar_green.png') no-repeat !important;
}
.koneBuddyIconYOU {
  border: none !important;
  background: transparent url('images/avatar_blue.png') no-repeat !important;
}

body {
  background: white url("images/body.png") 0 50% repeat-y;
  background-attachment: fixed;
}

#Chat {
  margin-left: 115px; /* 110 + 1 + 4  (bar + border + margin)*/
  margin-right: 0px;
}

img { vertical-align: middle !important; }










/** From variant Blue */

.koneBuddyIconYOU {
  background-color:#eff3f8;
  border:solid 1px #1e5996;
  color:#1e5996;
}

.koneMsgContactInc {
  color:#1e5996;
}

.koneMsgTimeIncltr,
.koneMsgTimeIncrtl {
  color:#1e5996;
}

/* Message body */

.koneMsgBodyInc {
  /*border-top:#1e5996 dashed 1px;*/
  background-color:#eff3f8;
}

.koneMsgBodyA {
  border:#de6510 solid /*dotted */1px;
  background-color: #de6510/*#fcf2ea*/;
  color: black/*#ae4f0d*/;
font-weight: bold;
text-align: center;
}


/** Added */

.aMessageInc, .aMessageOut {
  padding-left: 2px;
  /*border-top: white solid 1px;*/
  background-image: url('images/rounding.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.aMessageInc {
  border-left: #1e5996 solid 1px;
}
.aMessageOut {
  border-left: #84de10 solid 1px;
}
